body {
  font-family: Arial, sans-serif;
  background: #fdecef;
  text-align: center;
}

.malla {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.semestre {
  background: #ffe6f0;
  padding: 15px;
  border-radius: 15px;
  width: 220px;
}

.ramo {
  background: #f8bbd0;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
}

.ramo.aprobado {
  background: #ba68c8;
  color: white;
  text-decoration: line-through;
}
.ramo.bloqueado {
  background: #e0e0e0;
  color: #777;
  cursor: not-allowed;
}
